---
interface DefinitionItem {
  term: string;
  definition: string;
}

interface Props {
  items?: DefinitionItem[];
  definitions?: DefinitionItem[];
}

import { Icon } from '@astrojs/starlight/components';

const { items = [], definitions = [] } = Astro.props;
const resolvedItems = items.length > 0 ? items : definitions;
---

<dl class="definition-list">
  {resolvedItems.map((item) => (
    <div class="definition-card">
      <dt>
        <Icon name="pencil" size="1rem" />
        {item.term}
      </dt>
      <dd>{item.definition}</dd>
    </div>
  ))}
</dl>
